[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
yfinance = "*"
tqdm = "*"
seaborn = "*"
torch = "*"
numpy = "<2"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
holidays = "*"

[dev-packages]
ipykernel = "*"
pre-commit = "*"
python-dotenv = "*"
pipdeptree = "*"

[requires]
python_version = "3.12"
