[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
yfinance = "*"
tqdm = "*"
matplotlib = "*"

[dev-packages]
ipykernel = "*"
pre-commit = "*"
python-dotenv = "*"
pipdeptree = "*"

[requires]
python_version = "3.12"
